<html>

    <title>Welcome to {{tektutor_greeting_msg}}</title>

    <body>
        <h3>Hostname --> {{ansible_hostname}}</h3>
        <h3>Provisioner tool --> {{tektutor_provisioner_tool}}</h3>
        <h3>Configured by --> {{tektutor_conf_tool}}</h3>
    </body>
</html>
